* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #102c57;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header,
main {
  padding: 1rem 2rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header h1 {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
  color: #d1cfcf;
  margin-top: 2rem;
}

#new-task-form {
  display: flex;
}
input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}
#new-task-input {
  flex: 1 1 0%;
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  background-color: #1f2937;
  color: #eee;
}

/* #new-task-submit {
    color: #DAC0A3;
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, #efe7df, #fbb15d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
  }
  #new-task-submit:hover {
    opacity: 0.8;
  }
  #new-task-submit:active {
    opacity: 0.6;
  } */
.tasks-list {
  padding: 1rem;
}
.tasks-list h2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
  color: #d1cfcf;
}
#tasks .task {
  /* display: flex;
    justify-content: space-between;
    background: #202732;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem; */
  display: flex;
  justify-content: space-between;
  background: #202732;
  padding: 0.55rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  width: 80%;
}
#tasks .task .content .text {
  /* color: #eee;
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s; */
  color: #eee;
  font-size: 1.2rem;
  width: 100%;
  display: block;
  transition: 0.4s;
  padding: 10px;
}
#tasks .task .actions {
  display: flex;
  margin: 0 -0.5rem;
}
.task .actions button {
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0 0.5rem;
  color: #eee;
  text-transform: uppercase;
  transition: 0.4s;
}

.task .actions button:hover {
  opacity: 0.8;
}
.task .actions button:active {
  opacity: 0.6;
}

.task .actions .delete {
  color: crimson;
}
footer {
  bottom: 0;
  position: fixed;
  background: #cdcdcd;
  color: #2b2727;
  width: 100%;
  text-align: center;
  padding: 5px;
  font-size: 12px;
}

#new-task-submit {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(255 61 202);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#new-task-submit:hover {
  background: rgb(255 61 202);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#new-task-submit:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

#new-task-submit::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

#new-task-submit:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.bin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(255, 95, 95);
  cursor: pointer;
  border: 2px solid rgb(255, 201, 201);
  transition-duration: 0.3s;
  position: relative;
  overflow: hidden;
}
.bin-bottom {
  width: 15px;
  z-index: 2;
}
.bin-top {
  width: 17px;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
}
.bin-button:hover .bin-top {
  transform: rotate(45deg);
}
.bin-button:hover {
  background-color: rgb(255, 0, 0);
}
.bin-button:active {
  transform: scale(0.9);
}
.garbage {
  position: absolute;
  width: 14px;
  height: auto;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
}
.bin-button:hover .garbage {
  animation: throw 0.4s linear;
}
@keyframes throw {
  from {
    transform: translate(-400%, -700%);
    opacity: 0;
  }
  to {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}
